/* Plus Jakarta Sans & Space Mono */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #cccccc;
}

html.dark ::-webkit-scrollbar-thumb{
    background: #1c1c1c;
}

::selection{
    color: #000;
    background: #cccccccc;
}

html.dark ::selection{
    color: #fff;
    background: #1c1c1ccc;
}

@media (width <= 768px){
    ::-webkit-scrollbar{
        width: 1px;
    }
}